extends layout

block content
  table
    tr
      td
        label Заголовок
      td
        span= title
    tr
      td
        label Процент скидки
      td
        span= percent + '%'
    tr
      td
        label Количество активаций
      td
        span= activations
    tr
      td
        label Дата истечения
      td
        span= expiration
    tr
      td
        label Лицензия
      td
        span= license
  textarea(disabled='true')= codes