extends layout

block content
    .form
        form(method='GET' enctype='application/x-www-form-urlencoded' action='')
            input.inline(name='text' placeholder='text')
            input.inline(name='startPrice' placeholder='start price')
            input.inline(name='endPrice' placeholder='end price')
            label
                input(type='checkbox' name='my_lots')
                | My lots
            input.inline(type='hidden' name='render' value='true')
            div.container
                for etp in etps
                    label
                        input(type='checkbox' name='etps[]' value="#{etp}")
                        = etp
            div.container
                for region in regions
                    label
                        input(type='checkbox' name='regions[]' value="#{region}")
                        = region
            div.container
                for status in statuses
                    label
                        input(type='checkbox' name='statuses[]' value="#{status}")
                        = status
            input.inline(name='perPage' placeholder='Per page')
            button(type='submit') Search
    .pager
        .title Страница
        il.pager__container
            if currentPage >= 10
                li.pager__page
                    a(href="?page="+(parseInt(currentPage / 10) * 10 - 1)+"&tags[]="+currentTag+"&render=true") <<
            for number in pages
                li.pager__page
                    if number !== currentPage
                        a(href="?page="+number+"&tags[]="+currentTag+"&render=true")= number
                    else
                        span= number
            li.pager__page
                a(href="?page="+(parseInt(currentPage / 10) * 10  + 10)+"&tags[]="+currentTag+"&render=true") >>

    .cards__container
        for lot in lots
            .short-card
                h1.short-card__title
                    //- a(href=lot.url)= lot.title
                    a(href='/api/full-cards/'+lot.id+'?render=true')= lot.title
                ol.short-card__key-value
                    li
                        label Торги
                        a(href=lot.trade_url)= lot.trade
                    li
                        label Тип
                        span= lot.type

                    li
                        label Статус
                        span= lot.status

                    li
                        label Регион
                        span= lot.region

                    hr

                    li
                        label Начальная цена
                        span= lot.start_price

                    li
                        label Текущая цена
                        span= lot.current_price
                        if lot.discount > 0
                            span.price_diff= '-'+lot.discount/lot.start_price*100 +'%'

                    li
                        if lot.next_interval_start_date
                            label До следующего понижения
                            span= lot.next_interval_start_date
                        else if lot.end_date
                            label До окончания приема заявок
                            span= lot.end_date

                .short-card__tag-list
                    for tag in lot.tags
                        a(href="/api/short-cards?tags[]="+tag._id+"&render=true" style="color: black;background-color: "+tag.color+";")= tag.title

    if lots.length > 1
        .pager
            .title Страница
            il.pager__container
                if currentPage >= 10
                    li.pager__page
                        a(href="?page="+(parseInt(currentPage / 10) * 10 - 1)+"&tags[]="+currentTag+"&render=true") <<
                for number in pages
                    li.pager__page
                        if number !== currentPage
                            a(href="?page="+number+"&tags[]="+currentTag+"&render=true")= number
                        else
                            span= number
                li.pager__page
                    a(href="?page="+(parseInt(currentPage / 10) * 10  + 10)+"&tags[]="+currentTag+"&render=true") >>
