extends layout

block content
    .pager
        .title Страница
        il.pager__container
            if currentPage >= 10
                li.pager__page
                    a(href="?page="+(parseInt(currentPage / 10) * 10 - 1)+"&tag="+currentTag+"&render=true") <<
            for number in pages
                li.pager__page
                    if number !== currentPage
                        a(href="?page="+number+"&tag="+currentTag+"&render=true")= number
                    else
                        span= number
            li.pager__page
                a(href="?page="+(parseInt(currentPage / 10) * 10  + 10)+"&tag="+currentTag+"&render=true") >>

    .cards__container
        for lot in lots
            .short-card
                h1.short-card__title
                    //- a(href=lot.url)= lot.title
                    a(href='/api/full-cards/'+lot.id+'?render=true')= lot.title
                ol.short-card__key-value
                    li
                        label Торги
                        a(href=lot.trade_url)= lot.trade
                    li
                        label Тип
                        span= lot.type

                    li
                        label Статус
                        span= lot.status

                    li
                        label Регион
                        span= lot.region

                    hr

                    li
                        label Начальная цена
                        span= lot.start_price

                    li
                        label Текущая цена
                        span= lot.current_price
                        if (lot.start_price - lot.current_price)/lot.start_price > 0
                            span.price_diff= '-'+(lot.start_price - lot.current_price)/lot.start_price*100 +'%'

                    li
                        if lot.next_interval_start_date
                            label До следующего понижения
                            span= lot.next_interval_start_date
                        else if lot.end_date
                            label До окончания приема заявок
                            span= lot.end_date

                .short-card__tag-list
                    for tag in lot.tags
                        a(href="/api/short-cards?tag="+tag+"&render=true")= tag

    if lots.length > 1
        .pager
            .title Страница
            il.pager__container
                if currentPage >= 10
                    li.pager__page
                        a(href="?page="+(parseInt(currentPage / 10) * 10 - 1)+"&tag="+currentTag+"&render=true") <<
                for number in pages
                    li.pager__page
                        if number !== currentPage
                            a(href="?page="+number+"&tag="+currentTag+"&render=true")= number
                        else
                            span= number
                li.pager__page
                    a(href="?page="+(parseInt(currentPage / 10) * 10  + 10)+"&tag="+currentTag+"&render=true") >>
